@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    @*Layout = "_BelajarCSS";*@
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<h1>Judul</h1>
<p>Ini paragraf</p>

<a href="">Link 1</a>
<a href="">Link 2</a>
<a href="">Link 3</a>*@

<h1 id="judul">Ini Judul</h1>
<h1 id="judul">Ini Paragraf Judul</h1>
<div class="container">
    <section id="a">
        <p class="p1">Paragraf 1</p>
        <p class="p2">Paragraf 2</p>
        <a href="#">Ini Link</a>
        <p class="p3">Paragraf 3</p>
        <div id="b">
            <p id="a">Halo</p>
        </div>
    </section>
    <section id="b">
        <p id="a" class="b">Paragraf 4</p>
        <ul>
            <li class="list">List 1</li>
            <li class="list">List 2</li>
            <li class="list">List 3</li>
        </ul>
        <button class="btn-submit" onclick="panggilAlert();">Submit</button>
    </section>
</div>

@*@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}*@